.container{
    width: 800px;
    height: 600px;
    background-color: darkgrey;
}

.container .square{
    width: 262px;
    height: 195px;
    background-color: darkseagreen;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.square .x,
.square .o{
    padding: 0px 25%;
    font-size: 136px;
    font-family: cursive;
    position: absolute;
    display: none;
}

.square .x.show,
.square .o.show,
button.show,
.result.show{
    display: block;
}

button,.result{
    color: white;
    font-family: system-ui;
}

button{    
    background: green;
    font-size: 16px;
    width: 200px;
    height: 40px;
    border: none;
    margin-top: 20px;
    display: none;
    cursor: pointer;
    float: left;
}

.result{
    display: none;
    text-align: center;
    background-color: darkgrey;
    font-size: 34px;
    width: 530px;
    height: 68px;
    float: left;
    margin: 10px 68px;
}

.winner{
    color: green;
}