.container{
    width: 800px;
    height: 600px;
    background-color: darkgrey;
}

.container .square{
    width: 262px;
    height: 195px;
    background-color: darkseagreen;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.square .x,
.square .o{
    padding: 0px 25%;
    font-size: 136px;
    font-family: cursive;
    position: absolute;
}

.square .x{
    display: none;
}

.square .o{
    display: none;
}